.cp-index{
    display: flex;
    min-height: 88vh;
    min-width: fit-content;
}

.cp-index-content{
    display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}




.user-profile-container {
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 100%;
    background-color:  #e7eaec;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.user-detail {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.userimg{
    width: 200px;
    height: 200px;
    border-radius: 5%; 
    margin-left: 150px; 
    margin-right: 0px;
    border: 1px solid #ccc;
    background-color: #aaacad;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}

.userimg p{
    font-size: 59px;
}

.user-info {
    flex: 1; 
    text-align: left;
    padding-top: 0px;
    padding-left: 70px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}


.user-actions {
    margin-top: 10px; 
    align-self: flex-end; 
}

.tab-content{
    position: relative;
    z-index: 1;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.active{
    background-color: #053086;
}

.button-pf{
    max-width: fit-content;
    margin-top: 10px;
    margin-right: 10px;
    /* background-color: #e7f8fe; */
}

.button-container-pf{
    display: flex;
    flex-direction: row;
}

.question-list {
    display: flex;
    flex-direction: column;
    width: 100%; 
    overflow-y: overlay;
    max-height: 350px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.question-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 100%; 
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
}



.question-item:hover {
    transform: scale(1.02); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.question-item:hover > * {
    transform: scale(0.95); 
}

.question-link {
    text-decoration: none;
    color: #828181;
    
}

.question-link:hover {
    text-decoration: underline;
    
      
}




.answer-list {
    display: flex;
    flex-direction: column;
    width: 100%; 
    overflow-y: overlay;
    max-height: 350px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.answer-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 100%; 
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
}

.answer-item:hover {
    transform: scale(1.02); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.answer-item:hover > * {
    transform: scale(0.95); 
}

.answer-link {
    text-decoration: none;
    color: #828181;
}

.answer-link:hover {
    text-decoration: underline;
}





.blog-list {
    display: flex;
    flex-direction: column;
    width: 100%; 
    overflow-y: overlay;
    max-height: 350px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.blog-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 100%; 
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
}

.blog-link {
    text-decoration: none;
    color: #828181;
}

.blog-link:hover {
    text-decoration: underline;
}

.blog-item:hover {
    transform: scale(1.02); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.blog-item:hover > * {
    transform: scale(0.95); 
}

.user-questions > p {
    color: #828181; ;
}

.user-answers > p {
    color : #828181;
}

.user-blogs > p {
    color: #828181;
}

