.all-blogs {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0px 0px 1px -5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #dddddd;
    width: 100%;
  }
  
  .all-blogs-container {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    /* align-items: center; */
    justify-content: flex-start;
    width: 100%;
  }
  
  .all-blogs-left {
    display: flex;
    margin-right: 20px;
  }
  
  .all-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
  }
  
  .all-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .all-option > p {
    font-size: large;
    margin-bottom: 2px;
  }
  
  .blog-answer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align : left;
    margin-left: 0px;
  }
  
  .blog-answer > a {
    color: #0151f0d8;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .blog-answer > a:hover {
    color: #1649b1d8;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .blog-answer > p {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    text-align: left;
  }
  
  .author {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  
  .author > small {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
  }
  
  .auth-details {
    display: flex;
    align-items: center;
  }
  
  .auth-details > p {
    margin-left: 5px;
    font-size: small;
    color: #0151f0d8;
  }

  .author-details a {
    text-decoration: none;
}
  
  .comments {
    margin: 10px 0;
    width: 90%;
    margin-left: auto;
  }
  
  .comment {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }
  
  .comment > p {
    margin: 10px 0;
  }
  
  .comment > p > span {
    padding: 3px;
    background-color: #0151f028;
    color: #0151f0d8;
    border-radius: 2px;
  }
  
  .comments > p {
    margin-left: -30px;
    margin-top: 20px;
    font-size: small;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .comments > p:hover {
    color: #0151f0a2;
  }

  .blog-tag{
    margin : 10px 5px;
    padding : 5px 10px;
    background-color: #007cd446;
    border-radius: 3px;
  }