.main-desc {
    display: flex;
    width: 100%;
  }
  
  .info {
    display: flex;
    align-items: center;
    font-size: small;
  }
  
  .info > p {
    color: rgba(0, 0, 0, 0.4);
    margin: 0 10px;
  }
  
  .info > p > span {
    color: rgba(0, 0, 0, 0.8);
    margin: 0 5px;
  }
  
  .arrow {
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.25);
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
  }

  .upvoted {
    color: green;
  }
  
  .downvoted {
    color: red;
  }
  
  .all-options > .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.25);
    font-size: large;
    margin: 5px 0;
  }
  
  /* .ql-syntax {
    display: flex;
    width: 90%;
    overflow: hidden;
  } */
  pre {
    display: flex;
    width: 90px;
    flex-wrap: wrap;
  }
  



.all-blogs {
  display: flex;
  text-align: left;
}

.all-blogs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.all-blogs-left {
  display: flex;
  margin-right: 20px;
}

.all-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: small;
}

.blog-answer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  overflow-wrap: break-word;
  margin-left: 0px;
}

.main-answer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.delete-link {
  text-decoration: none; 
  color: #828181; 
  padding: 5px 10px; 
  font-weight: bold;
  transition: background-color 0.7s, box-shadow 0.3s; 
}

.delete-link:hover {
  background-color: #f4f6f7;
  border-radius: 10%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); 
}

.auth-details > a {
  text-decoration: none;
}

.main-blog{
    max-width: 700px;
    overflow-wrap: break-word;
    padding-left: 0px;
    text-align: left;
}